<!DOCTYPE html>

<html data-wf-page="<%= current_page.data.data_page || "5da4a7cb549767437baab12b" %>" data-wf-site="5d10e8c6c661d25755118c1f">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Marcus Rossi" %></title>

    <meta content="<% if defined? current_page.summary %><%= current_page.summary[3...150] + "..." %><% else %>CEO e Co-Fundador da Summit Hub, empresa dona de marcas como Gramado Summit, Start Zero e Summit Talks. Em 2015 recebeu o reconhecimento como um dos 25 Inovadores e Empreendedores do ano, em levantamento realizado pela Panrotas.<% end %>" name="description">
    <meta content="<%= current_page.data.title[0...55] || "Marcus Rossi" %>" property="og:title">
    <meta content="<% if defined? current_page.summary %><%= current_page.summary[3...150] + "..." %><% else %>CEO e Co-Fundador da Summit Hub, empresa dona de marcas como Gramado Summit, Start Zero e Summit Talks. Em 2015 recebeu o reconhecimento como um dos 25 Inovadores e Empreendedores do ano, em levantamento realizado pela Panrotas.<% end %>" property="og:description">
    <meta content="<%= current_page.data.mainImage || "https://i.ibb.co/28XPzSw/ogImage.png" %>" property="og:image">
    <meta content="summary" name="twitter:card">
    <meta content="<%= current_page.data.mainImage || "https://i.ibb.co/TrkDdLM/ogImage.png" %>" name="twitter:image:src" />
    <meta content="<%= current_page.data.title[0...55] || "Marcus Rossi" %>" name='twitter:text:title' />
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <%= stylesheet_link_tag "components.css" %>
    <%= stylesheet_link_tag "marcus-rossi.css" %>
    <%= stylesheet_link_tag "normalize.css" %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
   
   
    <script>
      //Facebook Pixel Code
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2357931697831734'); 
      fbq('track', 'PageView');
      //End of Facebook Pixel Code

      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);
    </script>
    <noscript>
      <img height="1" width="1" 
      src="https://www.facebook.com/tr?id=2357931697831734&ev=PageView
      &noscript=1"/>
    </noscript>
    <script type="text/javascript">
    </script>
    <link href="images/favicon32.png" rel="shortcut icon" type="image/x-icon">
    <link href="images/favicon256.png" rel="apple-touch-icon">
    <%= javascript_include_tag "site.js" %>

    <!-- Use the title from a page's frontmatter if it has one -->
  </head>
  <body>

    <div data-w-id="a22e573f-ee55-ef42-d0fd-cfc45ac2b40a" style="opacity:0;display:none" class="contact-modal">
    <div data-w-id="460dca38-b641-558c-cc2c-e0e8e0ba994b" style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="contact-modal_content">
      <div class="contact-modal_content_form-block talk-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="contact-modal_content_form-block_form" onsubmit="return dinForms.ValidateForm(this)" action="https://receiver.emkt.dinamize.com/in/317591/9/e99c7/0" target="DinamizeIframeFormIntegration">
          <input type="hidden" name="update_mode" value="AS"/>
          <input type="hidden" name="form-code" value="3"/>
          <input type="hidden" name="isMsg" value="true"/>
          <input type="hidden" name="text-confirmation" value="U2V1IGUtbWFpbCBmb2kgY2FkYXN0cmFkbyBjb20gc3VjZXNzbyE="/>
          <input type="hidden" name="text-error" value=""/>
          <input type="hidden" name="text-alert" value=""/>
          <input type="hidden" name="email-alert" value="on">
          <input type="hidden" name="cmp4" value="Palestra-Marcus-Site"/>
          <input type="hidden" name="email-alert-code" value="8">
          <input type="hidden" name="phase-change" value="off"/>
          <h2 class="contact-modal_content_h2">Vamos conversar?</h2>
          <div class="contact-modal_content_form-block_form_row">
            <div class="contact-modal_content_form-block_form_row_item">
              <input type="text" class="contact-modal_content_form-block_form_input w-input" maxlength="256" name="cmp2" data-name="name" placeholder="Seu nome" id="name-4" required="">
            </div>
            <div class="contact-modal_content_form-block_form_row_item">
              <input type="text" class="contact-modal_content_form-block_form_input w-input" maxlength="256" name="cmp9" data-name="place" placeholder="Local do Evento" id="place">
            </div>
          </div>
          <div class="contact-modal_content_form-block_form_row_item">
            <input type="text" class="contact-modal_content_form-block_form_input w-input" maxlength="256" name="cmp1" data-name="name" placeholder="Seu e-mail" id="name-4" required="">
          </div>
          <div class="contact-modal_content_form-block_form_row_item">
            <textarea data-name="message" maxlength="5000" id="message" name="cmp10" placeholder="Escreva aqui sua mensagem" class="contact-modal_content_form-block_form_input w-input"></textarea>
          </div>
          <input type="submit" id="submit-form-button" value="Enviar mensagem" data-wait="Please wait..." class="header_navbar_menu_item contact-modal-btn w-button">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <a data-w-id="0c809856-606a-068d-bcaf-795865ae293c" href="#" class="contact-modal_close-button w-inline-block" id="close-modal-button">
      <div>x</div>
    </a>
    </div>
    <header class="header">
      <div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="80b76d40-1836-bf15-8b11-6f182b134492" class="header_navbar w-nav">
        <div class="container">
          <div class="header_navbar_content">
            <a href="/" class="header_navbar_brand w-nav-brand"><img src="/images/logo-marcus-rossi.svg" width="45" alt=""></a>
            <div class="header_navbar_actions">
              <div class="header_navbar_actions-bundle">
                <a href="https://www.instagram.com/marcusrossi/" target="_blank" class="header_navbar_menu_small_item black-hover"><i class="fa fa-instagram black-hover"></i></a>
                <a href="https://www.linkedin.com/in/mvrossi/" target="_blank" class="header_navbar_menu_small_item black-hover"><i class="fa fa-linkedin black-hover"></i></a>
              </div>
              <a id="form-button" href="#" data-w-id="bdaf7ab4-c6c1-edae-3042-95eba3a4d19a" class="header_navbar_menu_item w-nav-link"><span>Agende uma palestra</span></a>
            </div>
          </div>
        </div>
      </div>
      <div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="094e187b-05b2-7752-8583-f19bc35000b7" style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="fixed_navbar w-nav">
        <div class="container">
          <div class="header_navbar_content">
            <a href="/" class="header_navbar_brand w-nav-brand"><img src="/images/logo-marcus-rossi.svg" width="45" alt=""></a>
            <div class="header_navbar_actions">
              <div class="header_navbar_actions-bundle">
                <a href="https://www.instagram.com/marcusrossi/" target="_blank" class="header_navbar_menu_small_item black-hover"><i class="fa fa-instagram black-hover"></i></a>
                <a href="https://www.linkedin.com/in/mvrossi/" target="_blank" class="header_navbar_menu_small_item black-hover"><i class="fa fa-linkedin black-hover"></i></a>
              </div>
              <a href="#" data-w-id="bdaf7ab4-c6c1-edae-3042-95eba3a4d19a" class="header_navbar_menu_item w-nav-link">Agende uma palestra</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <div>
      <div id="newsletter-section" class="newsletter">
        <div class="container">
          <div class="newsletter-section_content">
            <h2 class="about-section_h2 newsletter-section_h2">Quer receber novidades?<br><span class="white">Assine nossa newsletter</span></h2>
            <div class="newsletter-section_content_form-block w-form">        
                <form action="https://marcusrossi.us19.list-manage.com/subscribe/post?u=679898733d7cb2fbfd8a6a506&amp;id=25fb30e099" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          
                  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Digite aqui seu e-mail" format=""  class="newsletter-section_content_form-input footer_newsletter_form-block w-input required email" maxlength="80" />
                  <input type="text" name="NAME" id="mce-NAME" placeholder="Digite aqui seu nome" format=""  class="newsletter-section_content_form-input footer_newsletter_form-block w-input type_VC field-required " maxlength="80" />
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_679898733d7cb2fbfd8a6a506_25fb30e099" tabindex="-1" value=""></div>
                  <div style="display: flex">
                    <div style="flex: 6">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div style="flex: 4">  
                    <input type="submit" name="subscribe" value="Assinar newsletter" original-value="Assinar newsletter" id="mc-embedded-subscribe" class="newsletter-link footer_newsletter_form-block button" />              
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <%#
      <div class="newsletter">
        <div class="container">
          <div class="newsletter-section_content">
            <h2 class="about-section_h2 newsletter-section_h2">Quer receber novidades?<br><span class="white">Assine nossa newsletter</span></h2>
            <div class="newsletter-section_content_form-block w-form">        
              <form version="2.0" class="newsletter-section_content_form formIntegration formIntegration2 style1" accept-charset="UTF-8" method="post" onsubmit="return dinForms.ValidateForm(this)" action="https://receiver.emkt.dinamize.com/in/317591/9/e99c7/0" target="DinamizeIframeFormIntegration">
                <input type="hidden" name="update_mode" value="AS"/>
                <input type="hidden" name="form-code" value="4"/>
                <input type="hidden" name="isMsg" value="true"/>
		            <input type="hidden" name="text-confirmation" value="U2V1IGUtbWFpbCBmb2kgY2FkYXN0cmFkbyBjb20gc3VjZXNzbyE="/>
                <input type="hidden" name="text-error" value=""/>
                <input type="hidden" name="text-alert" value=""/>
                <input type="hidden" name="cmp4" value="News-Marcus-Site"/>
                <input type="hidden" name="phase-change" value="off"/>
                <input type="text" name="cmp1"  placeholder="Digite aqui seu e-mail" format=""  class="newsletter-section_content_form-input footer_newsletter_form-block w-input type_EMAIL field-required " maxlength="80" />
                <input type="text" name="cmp2"  placeholder="Digite aqui seu nome" format=""  class="newsletter-section_content_form-input footer_newsletter_form-block w-input type_VC field-required " maxlength="80" />
                <input type="submit" value="Assinar newsletter" original-value="Assinar newsletter" id="newsletter-form-button" class="newsletter-link footer_newsletter_form-block dinSubmit" />              
		          </form>
            </div>
          </div>
        </div>
      </div>
      %>
      <footer class="footer"><a href="https://summithub.com.br" target="_blank" style="text-align: center;"><img src="/images/logo_hub.svg" width="182" alt=""></a>
        <div class="footer_text">Todos os direitos reservados - Summit Hub - 2019</div>
      </footer>
    </div>

    <script>
      var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutationRecord) {
                $('#mce-success-response').text('Enviado!');
            });    
      });
      var target = document.getElementById('mce-success-response');
      observer.observe(target, { attributes : true, attributeFilter : ['style'] });

      window.onload = function () {
        var url_array = document.URL.split('#') 
        if (url_array[url_array.length-1] == "palestra") {
          document.getElementById('form-button').click()
        }
        if (url_array[url_array.length-1] == "newsletter") {
          window.scrollTo({ top: $('#newsletter-section').offset().top-180, behavior: 'smooth' })
        }
      }

      Array.from(document.getElementsByClassName("month-abreviation")).forEach((element) => {
        element.textContent = monthsTranslation[element.textContent]
      });  
      function formEndAnimation(formMarker) {
        switch(formMarker){
          case 'News-Marcus-Site': newsletterFormEndAnimation();
            break;
          case 'Palestra-Marcus-Site': TalkFormEndAnimation();
            break;
        }
      }
      function newsletterFormEndAnimation() {
        $('#mc-embedded-subscribe').val('Pronto!')
        $('.footer_newsletter_form-block').css('opacity', '0.5')
        if ($('#mc-embedded-subscribe').val() == 'Pronto!') {
          setTimeout(function () {
            $('.footer_newsletter_form-block').css('opacity', '1')
            $('#mc-embedded-subscribe').val('Assinar newsletter')
          }, 2000);
        }
      }
      function TalkFormEndAnimation() {
        $('#submit-form-button').val('Pronto!')
        $('.talk-block').css('opacity', '0.5')
        if ($('#submit-form-button').val() == 'Pronto!') {
          setTimeout(function () {
            $('.talk-block').css('opacity', '1')
            $('#submit-form-button').val('Enviar mensagem')
            document.getElementById("close-modal-button").click();
          }, 2000);
        }
      }
    </script>  
    <%= javascript_include_tag "mc-validate.js" %>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <%= javascript_include_tag "jquery-3.4.1.min.js" %>
    <%= javascript_include_tag "marcus-rossi.js" %>
    <%= javascript_include_tag "dinamize-form.js" %>
  </body>
</html>
