---
title: Artigos by Marquito
pageable: true
data_page: 5da4a577fe28e783c868703f
---
<div class="articles-section page">
  <div class="container">
    <h2 class="call-section_title">Confira todos os<br><span class="dark-text">melhores artigos</span></h2>
    <div class="articles-section_list">
      <% blog.articles[0...1].each do |article| %>
        <a href="<%= article.url %>" class="articles-section_list_item highlight w-inline-block">
          <div style="background-image: url(..<%= article.data.mainImage %>);" class="articles-section_list_item_photo highlight-photo"></div>
          <div class="articles-section_list_item_text highlight-text">
            <h3 class="articles-section_list_item_text_h3"><%= article.title %></h3>
            <div class="articles-section_list_item_text_p"><%= article.summary %></div>
            <div class="articles-section_list_item_text_detail"><%= article.date.strftime('%e de %b de %Y') %> - <%= article.data.readTime %> min de Leitura</div>
          </div>
        </a>
      <% end %>
      <% blog.articles[1...].each do |article| %>
        <a href="<%= article.url %>" class="articles-section_list_item w-inline-block">
          <div style="background-image: url(..<%= article.data.mainImage %>);" class="articles-section_list_item_photo"></div>
          <div class="articles-section_list_item_text">
            <h3 class="articles-section_list_item_text_h3"><%= article.title %></h3>
            <div class="articles-section_list_item_text_p"><%= article.summary %></div>
            <div class="articles-section_list_item_text_detail"><%= article.date.strftime('%e de %b de %Y') %> - <%= article.data.readTime %> min de Leitura</div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>