---
title: Marcus Rossi
data_page: 5d10e8c6c661d2c704118c20
---
<div class="hero-section">
  <div class="hero-section_content">
    <div class="container">
      <div class="hero-section_content_box">
        <div class="hero-section_content_left-box">
          <img src="images/foto-marcus-rossi.png" width="420" data-w-id="a9c6b79e-4f5a-93d5-f6e9-be6e988dcc24" style="-webkit-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="" class="hero-section_content_left-box_main-image">
          <img src="images/lines-hero.svg" data-w-id="d96080b2-f90a-b403-dda9-825dca4a76a7" style="opacity:0;-webkit-transform:translate3d(170PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(170PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(170PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(170PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="hero-section_content_left-box_detail">
        </div>
        <div data-w-id="fdee8d60-c3d2-7135-0ee2-cf27ad0e33f5" style="opacity:0;-webkit-transform:translate3d(135PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(135PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(135PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(135PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-section_content_right-box">
          <div class="hero-section_content_right-box_subtitle">PALESTRANTE E CEO DA SUMMITHUB</div>
          <h1 class="hero-section_content_right-box_title">Prazer, me chamo<br><span class="dark-text">Marcus Rossi.</span></h1>
          <p>Fazer um evento de inovação me coloca numa posição privilegiada dentro do ecossistema brasileiro de inovação. Quer saber o que aprendi ?</p>
          <a data-w-id="bfcb2492-9c0e-94d3-d1ec-9eae0802353c" href="#" class="hero-section_content_right-box_link">Agende uma palestra</a>
          <a style="color: #0076b5; margin-top: 5px;" data-w-id="bfcb2492-9c0e-94d3-d1ec-9eae0802353c" href="https://www.linkedin.com/in/mvrossi/" target="_blank" class="hero-section_content_right-box_link black-hover">Conecte-se no Linkedin</a>
        </div>
      </div>
    </div>
  </div>
  <img src="images/lines-left.svg" width="90" alt="" class="hero-section_detail">
</div>
<div class="call-section">
  <div class="container">
    <h2 class="call-section_title">“Uma das grandes mentes<br><span class="dark-text">do empreendedorismo brasileiro”</span></h2>
    <p><br>Sempre atento às tendências e ao mercado digital, vê um mundo em constante mudança e busca estar à frente do seu tempo. "O empreendedorismo dispensa CEP. Basta estar em qualquer lugar do mundo com uma boa ideia e uma vontade grande de fazer as coisas acontecerem", destaca.<br><br>Em junho de 2019, assinou contrato com a editora Belas Letras para a publicação de um livro que busca desmistificar o empreendedor de palco. O lançamento está previsto para o primeiro trimestre de 2020.</p>
  </div>
</div>
<div class="news-section">
  <div class="container">
    <h2 class="call-section-title"> 
      Notícias
      <br>
      <span class="dark-text">O que dizem sobre mim</span>
    </h2>
    <div class="news-section-list">

          <a href="https://www.terra.com.br/noticias/tecnologia/gramado-summit-quer-dobrar-de-tamanho-na-edicao-de-2020,7b4aab29781b30020fd2ea2ecbef0738jq4qlmii.html" target="_blank" title="" class="news-section-list_item">
            <p class="news-section-list_item-title">
              <span class="pink-quote">“</span>
              Por trás da ambição de expandir a Gramado Summit, conta Rossi, está o desejo de mostrar que a transformação de empresas pode ser feita em qualquer lugar.
              <span class="pink-quote">”</span>
            </p>
            <img src="/images/terra.svg" width="102" alt="Terra" class="news-section-list_item-brand">
          </a>
          <a href="https://istoe.com.br/gramado-summit-como-um-emprestimo-de-r-30-mil-virou-um-evento-de-r-15-milhoes/" target="_blank" title="" class="news-section-list_item">
            <p class="news-section-list_item-title">
              <span class="pink-quote">“</span>
              Marcus Rossi criou um evento de tecnologia e inovação na Serra Gaúcha e alcançou projeção internacional em três anos.
              <span class="pink-quote">”</span>
            </p>
            <img src="/images/istoe.svg" width="102" alt="Terra" class="news-section-list_item-brand">
          </a>
          <a href="https://www.huffpostbrasil.com/entry/como-empreender-no-brasil_br_5e3313f8c5b6f26233260afa" target="_blank" title="" class="news-section-list_item">
            <p class="news-section-list_item-title">
              <span class="pink-quote">“</span>
              Marcus Rossi é fundador da Gramado Summit, um dos principais eventos de inovação e empreendedorismo do País.
              <span class="pink-quote">”</span>
            </p>
            <img src="/images/huffpost.svg" width="102" alt="Terra" class="news-section-list_item-brand">
          </a>
          <a href="https://propmark.com.br/mercado/gramado-summit-espera-publico-duas-vezes-maior-que-em-2019/" target="_blank" title="" class="news-section-list_item">
            <p class="news-section-list_item-title">
              <span class="pink-quote">“</span>
              Hoje, segundo Rossi, não se trata mais de um evento de startups, mas um encontro que pode gerar negócios entre empresas grandes que buscam parceiros menores e vice-versa.
              <span class="pink-quote">”</span>
            </p>
            <img src="/images/propmark.svg" width="102" alt="Terra" class="news-section-list_item-brand">
          </a>

    </div>
  </div>
</div>
<div data-w-id="f868491b-fd7b-b221-0155-d6481426badf" class="about-section">
  <div class="container">
    <div class="about-section_content">
      <div class="about-section_content_left-box">
        <a href="https://gramadosummit.com/" target="_blank" style="text-align: center;">
          <img src="images/logo-gramado-summit.svg" width="322" alt="Gramado Summit" class="about-section_content_left-box_list_item">
        </a>
      </div>
      <div class="about-section_content_right-box">
        <h2 class="about-section_content_right-box_h2">O que faço e como<br>posso lhe ajudar?</h2>
        <p class="about-section_content_right-box_paragraph">Em dois anos, Marcus Rossi impactou mais de 10 mil empreendedores latino-americanos com a Gramado Summit. Além disso, proporcionou conexões que geraram mais de R$10 milhões investidos em startups em estágio inicial. <br><br>O resultado vai além: conectado com hubs de inovação no Brasil inteiro, se tornou uma grande referência quando o assunto é o mercado brasileiro. Além do Brasil, Mônaco, Hong Kong e Canadá apostam nele.</p>
        <div class="about-section_content_right-box_list">
          <div class="about-section_content_right-box_list_item">
            <div class="about-section_content_right-box_list_item_number">12<span class="number-detail">mil</span></div>
            <div class="about-section_content_right-box_list_item_description">Pessoas impactadas diretamente</div>
          </div>
          <div class="about-section_content_right-box_list_item">
            <div class="about-section_content_right-box_list_item_number">20<span class="number-detail">mi</span></div>
            <div class="about-section_content_right-box_list_item_description">Movimentados no último ano em Gramado</div>
          </div>
          <div class="about-section_content_right-box_list_item">
            <div class="about-section_content_right-box_list_item_number">130</div>
            <div class="about-section_content_right-box_list_item_description">Startups participaram de seu último evento</div>
          </div>
        </div>
        <div class="speaker-section_list_dashs">
          <div class="speaker-section_list_dashs_item">
            <div class="speaker-section_list_dash1_item-color"></div>
          </div>
          <div class="speaker-section_list_dashs_item speaker-section_list_style2-dashs_item">
            <div class="speaker-section_list_dash2_item-color"></div>
          </div>
          <div class="speaker-section_list_dashs_item speaker-section_list_style3-dashs_item">
            <div class="speaker-section_list_dash3_item-color"></div>
          </div>
          <div class="speaker-section_list_dashs_item speaker-section_list_style4-dashs_item">
            <div class="speaker-section_list_dash4_item-color"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="articles-section">
  <div class="container">
    <h2 class="call-section_title">Confira meus<br><span class="dark-text">melhores artigos</span></h2>
    <div class="articles-section_list">
    
      <% blog.articles[0...1].each do |article| %>

        <a href="<%= article.url %>" class="articles-section_list_item highlight w-inline-block">
          <div style="background-image: url(..<%= article.data.mainImage %>);" class="articles-section_list_item_photo highlight-photo"></div>
          <div class="articles-section_list_item_text highlight-text">
            <h3 class="articles-section_list_item_text_h3"><%= article.title %></h3>
            <div class="articles-section_list_item_text_p"><%= article.summary %></div>
            <div class="articles-section_list_item_text_detail">
              <%= article.date.strftime('%e de ') %><span class="month-abreviation"><%= article.date.strftime('%b') %></span> <%= article.date.strftime(' de %Y') %> - <%= article.data.readTime %> min de Leitura
            </div>

          </div>
        </a>
      <% end %>

      <% blog.articles[1...3].each do |article| %>
        <a href="<%= article.url %>" class="articles-section_list_item w-inline-block">
          <div style="background-image: url(..<%= article.data.mainImage %>);" class="articles-section_list_item_photo"></div>
          <div class="articles-section_list_item_text">
          <h3 class="articles-section_list_item_text_h3"><%= article.title %></h3>
          <div class="articles-section_list_item_text_p"><%= article.summary %></div>
          <div class="articles-section_list_item_text_detail">
            <%= article.date.strftime('%e de ') %><span class="month-abreviation"><%= article.date.strftime('%b') %></span> <%= article.date.strftime(' de %Y') %> - <%= article.data.readTime %> min de Leitura
          </div>            
          </div>
        </a>  
      <% end %>
      <div class="articles-section_link-box"><a href="/blog" class="hero-section_content_right-box_link">Ver todos os artigos</a></div>
    </div>
  </div>
</div>
<div class="photo-section">
  <div class="container">
    <div class="photo-section_content">
      <div class="photo-section_content_left-box">
        <h2 class="about-section_content_right-box_h2"><span class="pink-quote">“</span>O Marcus tem o melhor perfil de empreendedores que existe, o perfil daquele que empreende de dentro pra fora.<span class="pink-quote">”</span><br> <span style="font-size: 18px;color: #a5a5a5;font-weight: bold;">Geraldo Rufino</span><span style="font-size: 18px;color: #a5a5a5;font-weight: normal;padding: 0px;">, Fundador da JR Diesel</span><div></div></h2>
        <p>O impacto da experiência de Marcus vai além da inovação e da tecnologia. Colocando as pessoas no centro do seu trabalho, ele entendeu a importância do componente humano para transformar organizações e fortalecer mercados.<br><br>São anos de experiência como gestor e líder, estando à frente de equipes capazes de quebrar constantemente o <i>status quo</i>.
          <br><br>Desta forma, se tornou uma das grandes autoridades brasileiras a falar sobre os modelos de trabalho e gestão da Nova Economia.</p>
      </div>
      <div class="photo-section_content_right-box"><img src="images/marcusstage.jpg" width="380" alt="" class="photo-section_content_right-box_main-image"><img src="images/detail-photo-left.svg" alt="" class="photo-section_content_right-box_top-left-image"><img src="images/detail-photo-right.svg" alt="" class="photo-section_content_right-box_top-right-image"><img src="images/corner-detail.svg" width="71" alt="" class="photo-section_content_right-box_bottom-image"></div>
    </div>
  </div>
</div>

<style>
  .mce_inline_error {
    border-bottom-color: #d40000 !important;
  }
  .mce_inline_error:hover {
    border-bottom-color: #d40000 !important;
  }
  .mce_inline_error:focus {
    border-bottom-color: #d40000 !important;
  }
</style>